@model Stott.Optimizely.RobotsHandler.Presentation.ViewModels.RobotsListViewModel

@{
    Layout = "_RobotsLayout";
    ViewData["Title"] = "Robots.txt Management";
}

<div class="row">
    <div class="col">
        <h1 class="js-header">
            @ViewData["Title"]
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Site Url</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var site in Model.List)
                {
                    <tr>
                        <td>@site.Name</td>
                        <td>@site.Url</td>
                        <td>
                            <button class="btn btn-primary js-edit-button" data-siteid="@site.Id">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section modals {

    <div id="edit-robots-content-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title js-modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">

                        <input type="hidden" name="SiteId" class="js-modal-siteid" />

                        <div class="mb-3">
                            <label for="Robots-Content">Robots.txt Content</label>
                            <textarea class="form-control js-modal-robots-content" name="RobotsContent" cols="60" rows="10"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary js-save-button">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts {
    <script>
        $(document).ready(function() {

            var myModal = new bootstrap.Modal(document.getElementById('edit-robots-content-modal'), {
                keyboard: false
            });

            $('.js-edit-button').click(function() {
                let siteId = $(this).data('siteid');
                $.get('/Robots/Details/', { siteId: siteId })
                    .done(function(data) {
                        $('.js-modal-title').html(data.siteName);
                        $('.js-modal-siteid').html(data.siteId);
                        $('.js-modal-robots-content').val(data.robotsContent);

                        myModal.toggle();
                    })
                    .fail(function() {
                        let loadError = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                                      + '<strong>Failure!</strong> An error was encountered when trying to retrieve your robots.txt content.'
                                      + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'
                                      + '</div>';
                        $(loadError).insertAfter('.js-header');
                    });
            });

            $('.js-save-button').click(function() {
                let siteName = $('.js-modal-title').text();
                let siteId = $('.js-modal-siteid').text();
                let robotsContent = $('.js-modal-robots-content').val();

                $.post('/Robots/Save', { siteId: siteId, siteName: siteName, robotsContent: robotsContent })
                    .done(function() {
                        let saveSuccess = '<div class="alert alert-success alert-dismissible fade show" role="alert">'
                                        + '<strong>Success!</strong> Your robots.txt content changes were successfully applied.'
                                        + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'
                                        + '</div>';
                        $(saveSuccess).insertAfter('.js-header');
                        myModal.toggle();
                    })
                    .fail(function() {
                        let saveError = '<div class="alert alert-danger alert-dismissible fade show" role="alert">'
                                      + '<strong>Failure!</strong> An error was encountered when trying to save your robots.txt content.'
                                      + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>'
                                      + '</div>';
                        $(saveError).insertAfter('.js-header');
                        myModal.toggle();
                    });
            });
        });
    </script>
}