@model Stott.Optimizely.RobotsHandler.Presentation.ViewModels.RobotsListViewModel

@{
    Layout = "_RobotsLayout";
}

<div class="row">
    <div class="col">
        <h1 class="js-header">
            Robots.txt Management
        </h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Site Name</th>
                    <th>Site Url</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var site in Model.List)
                {
                    <tr>
                        <td>@site.Name</td>
                        <td>@site.Url</td>
                        <td>
                            <button class="btn btn-primary js-edit-button" data-siteid="@site.Id">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div id="edit-robots-content-modal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title js-modal-title">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">

                            <input type="hidden" name="SiteId" class="js-modal-siteid" />

                            <div class="mb-3">
                                <label for="Robots-Content">Robots.txt Content</label>
                                <textarea class="form-control js-modal-robots-content" name="RobotsContent" cols="60" rows="10"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary js-save-button">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>