.toast {
  --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 1) !important;
}

.table-header-fix {
  font-size: 1rem !important;
  color: black !important;
}

.large-text-area {
  min-height: calc(100vh - 500px) !important;
}

.apiName {
  min-width: 160px;
  font-weight: bold;
}

div.apiDescription pre {
  max-height: 200px;
  overflow: auto;
}